
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Roboto:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Inconsolata:700');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
.hr{
    height: 0px; 
    border: none;
    border-top: 1px solid rgb(10, 10, 88);
    background-color: rgb(10, 10, 88);
}
.title{

  margin-top: 80px;
}

.blueText{
  color:#060c22;
}

.blueLight{
  color:#153fd8
}
.float-right{
  float: right ;
}

.float-left{
  float: left;
}

.blueGradient{
  background: -webkit-linear-gradient(#83b5ee, #060c22);
  
}

.blueGradient2{
  background: -webkit-linear-gradient(rgb(245, 221, 178), #9dade6);
  
}

.blueBack{
  background-color: #060c22;
}
.jumboMargin{
  margin-top: 20px;
  margin-bottom: 20px;
}



.border-info{
border-color:#060c22 !important
}
.border-info2{
  border-color:#153fd8 !important
  }

.text-info{
  color:#060c22 !important
}
.bgWhite{
  background: #d1dcf1bd;
}

.padding-right{
  padding-right: 0px;
}
/* f82249 */
.redBack{
  background-color:#d1dcf1bd ;
}

.redOutline{
  outline:#f82249 solid 1px ;
  
}
.redText{
  color:#f82249
}


h1,h2,h3,h4,h5,h6,h7{
  font-family: 'Inconsolata';
}
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #fff;
  }
  
  .preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #f2f2f2;
    border-top: 6px solid #c850c0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: animate-preloader 1s linear infinite;
    animation: animate-preloader 1s linear infinite;
  }
  
  @-webkit-keyframes animate-preloader {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
  
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  
  @keyframes animate-preloader {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
  
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }





  .outer {
    display: table;
    position: absolute;
    top: 170px;
    left: 0;
    height: 100%;
    width: 100%;
    background: #4633af;
  background: -webkit-linear-gradient(-135deg, #4633af, #c850c0);
  background: -o-linear-gradient(-145deg, #4633af, #c850c0);
  background: -moz-linear-gradient(-145deg, #4633af, #c850c0);
  background: linear-gradient(-135deg, #4633af, #c850c0);
  }
  
  .middle {
    display: table-cell;
    vertical-align: middle;
  }
  
  .inner {
    margin-left: auto;
    margin-right: auto;
   
    align-content: center;
    margin-bottom: 80px;
  }
  
  .container-outer {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: #4633af;
    background: -webkit-linear-gradient(-135deg, #4633af, #c850c0);
    background: -o-linear-gradient(-135deg, #4633af, #c850c0);
    background: -moz-linear-gradient(-135deg, #4633af, #c850c0);
    background: linear-gradient(-135deg, #4633af, #c850c0);
  }
  
  .s009{
    margin-top: 80px;
}

.s009 form {
    width: 100%;
    max-width: 790px;
    /* margin: 0; */
  }
  
  .s009 form .inner-form {
    width: 100%;
  }
  
  .s009 form .inner-form .input-field {
    position: relative;
  }
  
  .s009 form .inner-form .input-field input {
    height: 100%;
    border: 0;
    background: #fff;
    display: block;
    width: 100%;
    padding: 10px 32px 10px 70px;
    font-size: 18px;
    color: #666;
    border-radius: 3px;
    height: 70px;
    color: #555;
    font-family: 'Lato', sans-serif;
  }
  
  .s009 form .inner-form .input-field input.placeholder {
    color: #999;
    font-size: 18px;
    font-weight: 600;
  }
  
  .s009 form .inner-form .input-field input:-moz-placeholder {
    color: #999;
    font-size: 18px;
    font-weight: 600;
  }
  
  .s009 form .inner-form .input-field input::-webkit-input-placeholder {
    color: #999;
    font-size: 18px;
    font-weight: 600;
  }
  
  .s009 form .inner-form .input-field input:hover, .s009 form .inner-form .input-field input:focus {
    box-shadow: none;
    outline: 0;
  }
  
  .s009 form .inner-form .input-field .btn-search {
    min-width: 100px;
    height: 40px;
    padding: 0 15px;
    background: #00bbec;
    white-space: nowrap;
    border-radius: 0;
    font-size: 14px;
    color: #fff;
    transition: all .2s ease-out, color .2s ease-out;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.15);
  }
  
  .s009 form .inner-form .input-field .btn-search:hover, .s009 form .inner-form .input-field .btn-search:focus {
    background: #00a7d3;
  }
  
  
  .s009 form .inner-form .input-field .btn-delete {
    min-width: 100px;
    height: 40px;
    padding: 0 15px;
    background: transparent;
    white-space: nowrap;
    border-radius: 0;
    font-size: 14px;
    color: #666;
    transition: all .2s ease-out, color .2s ease-out;
    border: 0;
    cursor: pointer;
    font-weight: bold;
  }
  
  .s009 form .inner-form .input-field .btn-delete:hover, .s009 form .inner-form .input-field .btn-delete:focus {
    color: #000;
    outline: 0;
    box-shadow: none;
  }
  
  .s009 form .inner-form .basic-search {
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    border-bottom: 2px solid #c850c0;
  }
  
  .s009 form .inner-form .basic-search .input-field {
    width: 100%;
  }
  
  .s009 form .inner-form .basic-search .input-field input {
    padding: 10px 80px 10px 40px;
  }
  
  .s009 form .inner-form .basic-search .input-field .icon-wrap {
    position: absolute;
    top: 0;
    right: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    width: 60px;
    height: 100%;
  }
  
  .s009 form .inner-form .basic-search .input-field .icon-wrap svg {
    width: 34px;
    height: 34px;
    fill: #ccc;
  }


  .content-wrapper {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 0.5rem;
  }
  @media (min-width: 900px)
{
.video-card {
    height: 20rem !important;
}}
.video-card {
  border: 0px solid aqua;
  margin: 0.5rem;
  position: relative;
  height: 12rem;
  overflow: hidden;
  border-radius: 0.5rem;
  flex: 1;
  min-width: 290px;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
}
.video-card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.7) 80%);;
  z-index: 0;
}

.video-card__image {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  transition: transform 3s ease !important;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: relative;
  z-index: -1;
}
.video-card__text-wrapper {
  position: absolute;
 
  width: 100%;
  
  bottom: 0rem;
  padding: 1rem;
  color: white;
  /* background-color: rgba(0, 0, 0, 0.4); */
  transition: background-color 1.5s ease;
}
.video-card__card-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  /* background: rgba(255,0,0,.5); */
}
@media (min-width: 900px){
.video-card:hover .video-card__text-wrapper {
    background-color: rgba(0, 0, 0, 0.6) !important;
}
}
.video-card__title :hover{
  transition: color 1s ease;
  margin-bottom: .5rem;
  font-weight: bolder;
}
.video-card__post-date {
  /* font-size: .7rem; */
  margin-top: 10px;
 margin-bottom:-.4rem;
  display: flex !important;
  color: #CCC;

}
.items{
  margin-left:18%;
  

}
/* .col-sm-4{
  margin-left:10% !important;
  margin-right:10% !important;
} */

/* .btn {
  z-index: 999;
  padding-left: 30px !important;
} */
.row{
  margin-right:0;
}


.player{
  margin-left:80px !important;
  margin-top:20px !important;
  width:100% !important;
  height: 100% !important;
}


.bg-style {
  background: #fff;
  /* border: 1px solid #e2e2e2; */
  margin-top:30px;
  margin-left:80px;
}
.caption{
  margin-left:78px;
  margin-top:5px;

}
.bg-style {
  padding: .5rem;
}

@media (max-width: 650px){
.player{
  margin-left:30px !important;
}
.bg-style{
  margin-left:30px !important
}
.caption{
  margin-left:30px !important
}
}

aside {
  margin-top: 8px;
  margin-bottom: 8px;
}
/* .w-100{
  height:100% !important;
  width:120% !important;
} */
.p-2{
  padding:0 !important;
}

.left-side{
  height:100%;
}


@media (max-width:864px){
  .left-side{
    display: none;
  }
  .social-icons{
    display: flex !important;
    flex-direction: row !important;
  }
}
.card-header{
  /* background: #4633af;
  background: -webkit-linear-gradient(-135deg, #4633af, #c850c0);
  background: -o-linear-gradient(-145deg, #4633af, #c850c0);
  background: -moz-linear-gradient(-145deg, #4633af, #c850c0);
  background: linear-gradient(-135deg, #4633af, #c850c0); */

}
.icons{
  background: #4633af;
  background: -webkit-linear-gradient(-135deg, #4633af, #c850c0);
  background: -o-linear-gradient(-145deg, #4633af, #c850c0);
  background: -moz-linear-gradient(-145deg, #4633af, #c850c0);
  background: linear-gradient(-135deg, #4633af, #c850c0);
  margin-top:-7px;
  margin-left:0px;

}
input {
  /* background-color: #eee !important;
  border: none !important;
  padding: 12px 15px !important;
  margin: 8px 0 !important;
  width: 100% !important; */
}
.submit {
  /* border-radius: 20px; */
  border: 1px solid #4633af !important;
  background: #4633af;
    background: -webkit-linear-gradient(-135deg, #4633af, #c850c0);
    background: -o-linear-gradient(-135deg, #4633af, #c850c0);
    background: -moz-linear-gradient(-135deg, #4633af, #c850c0);
    background: linear-gradient(-135deg, #4633af, #c850c0);
  color: #FFFFFF !important;
  font-size: 12px !important;
  font-weight: bold !important; 
  /* margin-left:32% !important; */
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}
.submit-git{
  /* border-radius: 20px; */
  margin-top:8%;
  border:  1px solid black;
  background-color: black;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}
.submit-google{
  /* border-radius: 20px; */
  margin-top:5%;
  border: 1px solid red;
  background-color: red;

  margin-top:8%;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}
.sign-cards{
  
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    position: relative;
    overflow: hidden;
    width: 768px !important;
    max-width: 100%;
    min-height: 480px;

}
button{
  border-color:transparent !important;
}
/* .form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
} */


.heading{
  
    font-weight: bold;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.Already{
  margin-left:12%;
  margin-top:2%;
}
.Create{
  margin-left:8%;
  margin-top:10% !important;
}






.custom-nav{
  z-index: 999 !important;
  background: #060c22;
  
}



.button-edit {
  background: #4633af;
  background: -webkit-linear-gradient(-135deg, #4633af, #c850c0);
  background: -o-linear-gradient(-145deg, #4633af, #c850c0);
  background: -moz-linear-gradient(-145deg, #4633af, #c850c0);
  background: linear-gradient(-135deg, #4633af, #c850c0);
  box-shadow: 0 0.0625rem 0.375rem 0 rgba(0, 0, 0, 0.1);
  color: white;
  border-radius: 50px;
  font-family: 'Roboto';
}

.button-edit:hover {
  transition: all 2s;
  color: white;
}


.duration{
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 2px;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  left: 12px;
  line-height: 13px;
  padding: 2px 3px 1px;
  position: absolute;
  top: 12px;
 transition:all 500ms ease;
}
.alerts-bg{
  background: linear-gradient(-135deg, #b6adec, #d1a8ce);
}

/* form css start */
.form {
  outline: 0;
  float: left;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.form > .textbox {
  outline: 0;
  height: 42px;
  width: 244px;
  line-height: 42px;
  padding: 0 16px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #212121;
  border: 0;
  float: left;
  -webkit-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}

.form > .textbox:focus {
  outline: 0;
  background-color: #FFF;
}

.form > .button {
  outline: 0;
  background: none;
  background-color: rgba(38, 50, 56, 0.8);
  float: left;
  height: 42px;
  width: 42px;
  text-align: center;
  line-height: 42px;
  border: 0;
  color: #FFF;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 16px;
  text-rendering: auto;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-transition: background-color .4s ease;
  transition: background-color .4s ease;
  -webkit-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}

.form > .button:hover {
  background-color: #4633af;
}


.vgr-cards .card {
  display: -webkit-box;
  display: flex;
  flex-flow: wrap;
  -webkit-box-flex: 100%;
          flex: 100%;
  margin-bottom: 40px;
}
.vgr-cards .card:nth-child(even) .card-img-body {
  -webkit-box-ordinal-group: 3;
          order: 2;
}
.vgr-cards .card:nth-child(even) .card-body-2 {
  padding-left: 0;
  padding-right: 1.25rem;
}
@media (max-width: 576px) {
  .vgr-cards .card {
    display: block;
  }
}
.vgr-cards .card-img-body {
  -webkit-box-flex: 1;
          flex: 1;
  overflow: hidden;
  position: relative;
}
@media (max-width: 576px) {
  .vgr-cards .card-img-body {
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
  }
}
.vgr-cards .card-img {
  width: 60%;
  height: 90%;
  position: absolute;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
@media (max-width: 1140px) {
  .vgr-cards .card-img {
    margin: 0;
    -webkit-transform: none;
            transform: none;
    width: 100%;
    height: auto;
  }
}
.vgr-cards .card-body-2 {
  -webkit-box-flex: 2;
          flex: 2;
  padding: 0 0 0 1.25rem;
}
@media (max-width: 576px) {
  .vgr-cards .card-body-2 {
    padding: 0;
  }
}
bgPink{
  background: #c850c0;
}

.bgPurple{
  background: #4633af;
}

.bgWhite{
  background: #eedaed;
}

.create-button {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 35px !important;
  color: white !important;
  border: none !important;
  background: #4633af;
  background: -webkit-linear-gradient(-135deg, #4633af, #7e6f7d)!important;
  background: -o-linear-gradient(-145deg, #4633af, #c850c0)!important;
  background: -moz-linear-gradient(-145deg, #4633af, #c850c0)!important;
  background: linear-gradient(-135deg, #4633af, #c850c0)!important;
  /* box-shadow: 0 0.0625rem 0.375rem 0 rgba(0, 0, 0, 0.1); */
  text-align: center;
  font-size: 25px;
  padding: 8px !important;
  width: 125px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 6px;
  font-family: 'Roboto', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
}

.create-button span {
  cursor: pointer;
  display: block;
  position: relative;
  transition: 0.5s;
}

.create-button span:after {
  content: '+';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -25px;
  margin-right: 5px;
  transition: 0.5s;
}

.create-button:hover span {
  padding-right: 25px;
}

.create-button:hover span:after {
  opacity: 1;
  right: 0;
}
.label2{
  margin-left: 25px !important;
}


.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.text-orange{
color: orange;
}
@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
.jumbotron {
padding-top: 3rem;
padding-bottom: 3rem;
margin-bottom: 0;
background-color:#060c22;
}
@media (min-width: 768px) {
.jumbotron {
padding-top: 6rem;
padding-bottom: 6rem;
}
}

.jumbotron p:last-child {
margin-bottom: 0;
}

.jumbotron h1 {
font-weight: 300;
}

.jumbotron .container {
max-width: 40rem;
}