

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Roboto:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Inconsolata:700');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

.title {

    margin-top: 100px;
}

.blueText{
  color:#060c22;
}

.blueLight{
  color:#153fd8
}

.blueGradient{
  background: -webkit-linear-gradient(#83b5ee, #060c22);
  
}

.blueBack{
  background-color: #060c22;
}

.border-info{
border-color:#060c22 !important
}

.text-info{
  color:#060c22 !important
}

.padding-right{
  padding-right: 0px;
}
/* f82249 */
.redBack{
  background-color:#d1dcf1bd ;
}

.redOutline{
  outline:#f82249 solid 1px ;
  
}
.redText{
  color:#f82249
}


.details {
    color: #4633af;
}

.details2 {
    color: #c850c0;
}

.user-link {
    display: block;
    font-size: 1.25em;
    padding-top: 3px;
    margin-left: 60px;
}

.avatar-2 {
    position: relative;
    max-width: 50px;
    float: left;
    margin-left: 15px;
    border-radius: 50%;

}

.table thead tr th {
    text-transform: uppercase;
    font-size: 0.875em;
}

.table thead tr th {
    border-bottom: 2px solid #e7ebee;
}

.table tbody tr td {
    font-size: 0.875em;
    vertical-align: middle;
    border-top: 1px solid #e7ebee;
    padding: 12px 8px;
}

.filter {
    background: linear-gradient(-135deg, #4633af, #c850c0);

}

#sticky-footer {
    flex-shrink: none;
}

#page-content {
    flex: 1 0 auto;
}

/* .container {
    max-width: 1000px;
  } */
  
  .lh-condensed { line-height: 1.25; }


.bgGradient{
    background: linear-gradient(-135deg, #4633af, #c850c0);
}

.inline-block{
    display: inline-block;
}

.float-right{
    float: right;
}

.float-left{
    float: left;
}

.user-table{
    overflow: auto;max-height: 500px; border-bottom: 1px solid #4633af;
}

.padding-top{
    padding-top: 10px;
}

.numeric-filter{
    /* display: none; */
    max-width: 240px;
}

.sort-filter{
   /* display: none; */
}
table {
    position: relative;
    width: 100vw;
    /* background-color: #aaa; */
    overflow: hidden;
    border-collapse: collapse;
  }
  
  
  /*thead*/
  #thead {
    position: relative;
    display: block; /*seperates the header from the body allowing it to be positioned*/
    width: 100vw;
    overflow: visible;
  }
  
  #thead th {
    background-color: white;
    min-width: 120px;
    /* height: 32px; */
    /* border: 1px solid #4633af; */
  }
  
  #thead th:nth-child(1) {/*first cell in the header*/
    position: relative;
    display: block; /*seperates the first cell in the header from the header*/
    background-color: white;
  }
  
  
  /*tbody*/
  #tbody {
    position: relative;
    display: block; /*seperates the tbody from the header*/
    width: 100vw;
    height: 75vh;
    overflow: scroll;
  }
  
  #tbody td {
    background-color: white;
    min-width: 120px;
    /* border: 1px solid #4633af; */
  }
  
  #tbody tr td:nth-child(1) {  /*the first cell in each tr*/
    position: relative;
    display: block; /*seperates the first column from the tbody*/
    /* height: 40px; */
    /* background-color: #99a; */
  }


  .dropdown-toggle::after {
    display: inline-block;
    margin-left: .255em;
    vertical-align:middle ;
    content: "";
    color: #4633af;
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
    font-size: 30px;
   
    
}


.bgPink{
    background: #c850c0;
}

.bgPurple{
    background: #4633af;
}

.bgWhite{
    background: #d1dcf1bd;
}

  
.heading{
    /* background: -webkit-linear-gradient(#4633af, #b663b0); */
}



@media (max-width:864px){
    .sorting{
      display: none;
    }
    .comments{
        display: "none";
    }
 
  }

.vertical{
    vertical-align: middle;
}

.late{
    color: #f0ad4e;
}

.missing{
   color: #d9534f;
}

.handedin{
    color: #5cb85c;
}

.notsub{
    color:#a19b9b;
}

.displayblock{
    display: block;
}
.largeIcons{
    font-size: 45 !important;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}


/* form css start */
.form {
    outline: 0;
    float: left;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -webkit-border-radius: 4px;
    border-radius: 4px;
  }
  
  .form > .textbox {
    outline: 0;
    height: 42px;
    width: 244px;
    line-height: 42px;
    padding: 0 16px;
    background-color: rgba(255, 255, 255, 0.8);
    color: #212121;
    border: 0;
    float: left;
    -webkit-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
  }
  
  .form > .textbox:focus {
    outline: 0;
    background-color: #FFF;
  }
  
  .form > .button {
    outline: 0;
    background: none;
    background-color: rgba(38, 50, 56, 0.8);
    float: left;
    height: 42px;
    width: 42px;
    text-align: center;
    line-height: 42px;
    border: 0;
    color: #FFF;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 16px;
    text-rendering: auto;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition: background-color .4s ease;
    transition: background-color .4s ease;
    -webkit-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
  }
  
  .form > .button:hover {
    background-color: #4633af;
  }


  .vgr-cards .card {
    display: -webkit-box;
    display: flex;
    flex-flow: wrap;
    -webkit-box-flex: 100%;
            flex: 100%;
    margin-bottom: 40px;
  }
  .vgr-cards .card:nth-child(even) .card-img-body {
    -webkit-box-ordinal-group: 3;
            order: 2;
  }
  .vgr-cards .card:nth-child(even) .card-body-2 {
    padding-left: 0;
    padding-right: 1.25rem;
  }
  @media (max-width: 576px) {
    .vgr-cards .card {
      display: block;
    }
  }
  .vgr-cards .card-img-body {
    -webkit-box-flex: 1;
            flex: 1;
    overflow: hidden;
    position: relative;
  }
  @media (max-width: 576px) {
    .vgr-cards .card-img-body {
      width: 100%;
      height: 200px;
      margin-bottom: 20px;
    }
  }
  .vgr-cards .card-img {
    width: 60%;
    height: 90%;
    position: absolute;
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  @media (max-width: 1140px) {
    .vgr-cards .card-img {
      margin: 0;
      -webkit-transform: none;
              transform: none;
      width: 100%;
      height: auto;
    }
  }
  .vgr-cards .card-body-2 {
    -webkit-box-flex: 2;
            flex: 2;
    padding: 0 0 0 1.25rem;
  }
  @media (max-width: 576px) {
    .vgr-cards .card-body-2 {
      padding: 0;
    }
  }

  .img-wrap {
    position: relative;
  
}
.img-wrap .close {
    position: absolute;
    top: 2px;
    right: 2px;
    z-index: 100;
}




*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.playground {
  position: fixed;
  /* top: 80px; */
  bottom: 0;
  left: 0;
  width: 600px;
  background-color: #1E1E2C;
}

.code-editor {
  height: 33.33%;
  overflow: hidden;
  position: relative;
}

.editor-header {
  height: 30px;
  content: attr(title);
  display: flex;
  align-items: center;
  padding-left: 20px;
  font-size: 18px;
  color: #fafafa;
}

.react-codemirror2 {
  max-height: calc(100% - 30px);
  overflow: auto;
}

.result {
  position: fixed;
  /* top: 80px; */
  right: 0;
  bottom: 0;
  left: 600px;
  overflow: hidden;
}

.iframe {
  width: 100%;
  height: 100%;
}

.hr{
    height: 0px; 
    border: none;
    border-top: 1px solid rgb(10, 10, 88);
    background-color: rgb(10, 10, 88);
}
.title{

  margin-top: 80px;
}

h1,h2,h3,h4,h5,h6,h7{
  font-family: 'Inconsolata';
}
